.taskListBox {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: var(--gray-500);
  height: 4.5rem;
  padding: 1rem;
  border: 1px solid var(--gray-400);
}

.taskListBox:not(:last-child) {
  margin-bottom: 1rem;
}

input[type="checkbox"] {
  appearance: none;
  width: 1.12rem;
  height: 1.12rem;
  border-radius: 99999px;
  border: 2px solid var(--blue-100);
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: var(--purple-400);
  border: none;
}

input[type="checkbox"]:checked::after {
  display: flex;
  align-items: center;
  justify-content: center;
  content: '✔';
  color: white;
  font-size: 12px;
}

label {
  color: var(--gray-100);
  flex: 1;
  padding: 0 0.75rem 0 0.75rem;
  font-size: 14px;
}

.taskConcluded {
  color: var(--gray-300);
  text-decoration: line-through;
}

.trashCan {
  cursor: pointer;
  transition: 0.25s;
}

.trashCan:hover {
  color: red;
}