.taskListBox {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.taskListHeaderBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.taskListBody {
  
}

.createdTaskText {
  font-weight: bold;
  color: var(--blue-100);
}

.concludedTaskText {
  font-weight: bold;
  color: var(--purple-100);
}