.taskInputBox {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}

.taskInputBox input {
  background: var(--gray-500);
  height: 3.375rem;
  width: 39.875rem;
  border-radius: 8px;
  padding-left: 1rem;
  color: var(--gray-100);
  border: 1px solid var(--gray-700);
  margin-right: 0.25rem;
}

.taskInputBox input:focus {
  border: 1px solid var(--purple-100);
}

.taskInputBox button {
  width: 5.625rem;
  height: 3.25rem;
  border-radius: 8px;
  border: 0;
  margin-left: 0.25rem;
  background: var(--blue-400);
  color: var(--gray-100);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.5rem;
}

.taskInputBox button:hover {
  background: var(--blue-100);
}

.taskInputBox button svg {
  margin-left: 0.5rem;
}